html {
  min-width: 500px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0.25rem;
}

main section {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #eee;
}

main section .copyable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  background-color: #b9e5ea;
  transition: background-color 0.35s;
}

main section .copyable:hover {
  background-color: #a5dee4;
}

main section .copyable div {
  padding: 1rem;
}

main section .copyable button {
  background-color: inherit;
  background-image: url(../images/target.svg);
  background-size: 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  border: 0;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  cursor: copy;
  transition: background-color 0.35s;
}

main section .copyable button:focus, main section .copyable button:hover {
  outline: none;
  background-color: #6bc9d2;
  opacity: 1;
}

main section .copyable button:active {
  background-color: #92d7de;
}

main section .snippet {
  font-family: monospace;
  padding: 1rem;
  background-color: white;
  position: relative;
}

main section .snippet pre {
  padding: 0;
  margin: 0;
}

main section .snippet .input-output {
  color: #999;
}

main section .doc {
  margin: 1rem 0;
  border-left: 3px solid #26767e;
  padding: 0.5rem;
}

main section .doc:focus, main section .doc:hover {
  outline: none;
  background: #dddd;
}

main section .doc h3 {
  font-family: monospace;
  font-size: 1.35rem;
  text-decoration-line: underline;
}

section > *:first-child, .doc:first-child, .doc > *:first-child {
  margin-top: 0;
}

section > *:last-child, .doc:last-child, .doc > *:last-child {
  margin-bottom: 0;
}
